<a href="https://colab.research.google.com/github/sangitaGIT011/Myproj/blob/main/PDS_Sem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Practical 1

#b. Write and Execute Basic Python Programs Using Input/Output
#Basic
print ("Hello World in Python")

#Using user input
A=float (input("no1:"))
B=float (input ("no2:"))
sum=A+B
print("sum :",sum)


#c. Demonstrate Variable Declaration, Indentation, and Comments
stu_name='Rohan'
stu_age=21
stu_mark=91

print ("student Name:",stu_name)
print("student_age:",stu_age)
print ("student Mark:",stu_mark)

if stu_mark >= 90: #Classify grade based on mark
    print("Obtain Grade A++")
else:
    print("Obtain Grade  A+")

In [ ]:
#Practical 2
# Operators and Expressions:
 #a. Use arithmetic, comparison, and logical operators.
 #b. Perform string concatenation and type conversion.
 #2c. Evaluate mathematical expressions using precedence rules
# Use arithmetic, comparison, and logical operators.
# arithmetic operator
print("***Arithmetic operator***")
a=float(input( "1st number:"))
b=float(input( "2nd number:"))


print("Addition of Number:",a+b)
print("Subtraction of Number:",a-b)
print("Multiplication of Number:",a*b)
print("Division of Number:",a/b)

#Comparison operator
print("***Comparison operator***")
print("1st number is greater than 2nd number:",a>b)
print("1st number is equal to 2nd number:",a==b)
print("1st number is not equal to 2nd number",a!=b)

#logical operator
a=True
b=False
print("***logical operator***")
print("a and b:",a and b)
print("a or b:",a or b)
print("a not b:", not b)

#Perform string concatenation and type conversion
# String Concatenation
print("***String Concatenation***")
first_str = "python"
last_str = "programming"
full_str = first_str + " " + last_str
print("Full Name:", full_str)

# Type Conversion
print("***Type Conversion***")

num_str = "10"
num_int = int(num_str)  # Convert string to integer
sum_result = num_int + 25
print("Sum after type conversion:", sum_result)

#c. Evaluate mathematical expressions using precedence rules
# Operator Precedence Example
print("***Evaluate mathematical expressions***")
result = 12 + 6 * 2 ** 3 / 4 - 6
# According to precedence: Exponentiation > Multiplication/Division > Addition/Subtraction
print("Result of expression :", result)

In [ ]:
#Practicle 3
#Basic Problem-Solving Programs:
# a. Find maximum of three numbers.
# b. Calculate area and perimeter of simple shapes.
# c. Print sum of numbers within a given range.

print("***maximum numbers***")
a=float(input("1st number:"))
b=float(input("2nd number:"))
c=float(input("3rd number:"))

if a>b and b>c:
    print("Maximum number is:",a)

elif b>a and b>c:
    print("Maximum number is:",b)
else:
    print("Maximum number is:",c)

    # Program to calculate area and perimeter of a rectangle
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

area = length * width
perimeter = 2 * (length + width)


print("Area :", area)
print("Perimeter :", perimeter)

#sum of numbers within a given range.
num=int(input("Enter the first number:"))
number=int(input("Enter the second number:"))

sum=0
for i in range(num,number+1):
    sum+=i
print("sum of numbers within a given range:",sum)

***maximum numbers***
1st number:3
2nd number:6
3rd number:8
Maximum number is: 8.0
Enter the length of the rectangle: 9
Enter the width of the rectangle: 5
Area : 45.0
Perimeter : 28.0
Enter the first number:2
Enter the second number:8
sum of numbers within a given range: 35

In [ ]:
#Practicle 4
#Conditional Statements:
 #a. Check if a number is positive, negative, or zero.
 #b. Determine if a given year is a leap year.
 #c. Classify student grades based on marks
print("*** check positive,negative or Zero***")
num=int(input("Enter number:"))
if num>0:
    print ("Positive number")
elif num<0:
    print("Negative number")
else:
    print("Zero")

print("**Leap Year***")

year=int(input("enter year:"))

if(year%400==0) or (year%100!=0 and year%4==0):
    print(year,"Leap Year")
else:
    print(year,"Not Leap Year")



mark=int(input("Enter mark:"))



if mark >= 90: #Classify grade based on mark
    grade="A+"
elif mark >= 80: #Classify grade based on mark
    grade="A"
elif mark>= 70: #Classify grade based on mark
    grade="B+"
elif mark>= 60: #Classify grade based on mark
    grade="B"
elif mark>= 50: #Classify grade based on mark
    grade="C"
elif mark>= 40: #Classify grade based on mark
    grade="D"
else:
    print("Fail")

print("Your grade is:", grade)

*** check positive,negative or Zero***
Enter number:5
Positive number
**Leap Year***
enter year:2000
2000 Leap Year
Enter mark:55
Your grade is: C

In [5]:
#Practicle 5
#Looping and Iteration:
 #a. Print all prime numbers within a given range.
 #b. Generate multiplication tables.
 #c. Demonstrate use of break, continue, and else in loops

print("*** prime numbers within a given range***")
s=int(input("Enter start number:"))
e=int(input("Enter end number:"))

print("Prime numbers between", s, "and", e ,"are:")

for num in range(s, e + 1):
    if num > 1:  # Prime numbers are greater than 1
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                break
        else:
            print(num)

print("***multiplication tables***")
num=int(input("enter number:"))

print("Multiplication table of:",num)
for num in range(1,11):
    print(num,"x",i,"=",num*i)

print("***Demo of Break,Continue,Loop***")

for num in range(1, 10):
    if num == 5:
        print("Skipping number 5 using continue.")
        continue
    if num == 8:
        print("Breaking the loop at number 8.")
        break
    print("Number:", num)
else:
    print("Loop completed without break.")

*** prime numbers within a given range***

KeyboardInterrupt: Interrupted by user

In [16]:
 #Practicle 6
 #Introduction to Data Handling using Python:
 #a. Load sample dataset using pandas.
 #b. Display dataset info, column names, and shape.
 #c. Perform basic descriptive statistics

import pandas as pd
import seaborn as sns
data=sns.load_dataset('titanic')
 #a. Load sample dataset using pandas.
#print(data)

#print ("data loaded")
print(data.head())

#b. Display dataset info, column names, and shape.
data.info()
print(data.columns.tolist())
print(data.shape)


#c. Perform basic descriptive statistics
print(data.describe())

print(data.isnull().sum())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']
(891, 15)
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [166]:
 #Practicle 7
#Data Cleaning and Preparation:
# a. Handle missing values and duplicates.
# b. Convert data types and normalize numerical columns.
# c. Rename and reorder dataset columns.

import pandas as pd
import seaborn as sns

data=sns.load_dataset('titanic')

# a. Handle missing values and duplicates.
##  Fill missing values

data['age']=data['age'].fillna(data['age'].median())
data['embarked']=data['embarked'].fillna(data['embarked'].mode()[0])

if 'Nspec' not in data['deck'].cat.categories:
  data['deck'] = data['deck'].cat.add_categories(['Nspec'])
data['deck'] = data['deck'].fillna('Nspec')

# b. Convert data types and normalize numerical columns.

# Convert 'Age' to integer (if itâ€™s float after filling NaN)
data['age'] = data['age'].astype(int)

# Normalize  'fare'
data['fare_normalized'] = (data['fare'] - data['fare'].min()) / (data['fare'].max() - data['fare'].min())



#print("\n--- Normalized Columns Preview ---")
print(data[['fare', 'fare_normalized']].head())


# c. Rename and reorder dataset columns.
# Rename selected columns for clarity
data.rename(columns={'sex': 'gender', 'embarked': 'embark_location','alive':'Alive','alone':'Alone'}, inplace=True)

#print(data.columns.tolist())

print(data.head())
## Apply new order (only include columns that exist)

## Move selected columns to front
cols_to_front = ['age']
new_columns = cols_to_front + [col for col in data.columns if col not in cols_to_front]
data = data[new_columns]

print(data.columns.tolist())

      fare  fare_normalized
0   7.2500         0.014151
1  71.2833         0.139136
2   7.9250         0.015469
3  53.1000         0.103644
4   8.0500         0.015713
   survived  pclass  gender  age  sibsp  parch     fare embark_location  \
0         0       3    male   22      1      0   7.2500               S
1         1       1  female   38      1      0  71.2833               C
2         1       3  female   26      0      0   7.9250               S
3         1       1  female   35      1      0  53.1000               S
4         0       3    male   35      0      0   8.0500               S

   class    who  adult_male   deck  embark_town Alive  Alone  fare_normalized
0  Third    man        True  Nspec  Southampton    no  False         0.014151
1  First  woman       False      C    Cherbourg   yes  False         0.139136
2  Third  woman       False  Nspec  Southampton   yes   True         0.015469
3  First  woman       False      C  Southampton   yes  False         0.103644
4  Third    man        True  Nspec  Southampton    no   True         0.015713
['age', 'survived', 'pclass', 'gender', 'sibsp', 'parch', 'fare', 'embark_location', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'Alive', 'Alone', 'fare_normalized']